* {
   padding: 0px;
   margin: 0px;
   font-family: Avenir, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 12px; 
}

h1 {
   font-family: 'Futura', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 45px;
   margin-left: 25px;
   margin-top: 20px;
   border: 2px solid black;
   padding: 10px;
   
   
}
 

table {
 	border: 2px solid black;
	border-collapse: collapse;
    border-spacing: 0;
    margin-left: 100px;
    margin-top: 100px;
}

input {
   border: none;
   height: 19px;
}

td {
   border: 2px solid black;
}

.dark-grey {
 	background-color: #454545;
}
.grey {
 	background-color: #7d7d7d;
}
.light-grey {
 	background-color: #b8b8b8;
}

::placeholder {
   color: black;
   left: 20px;
}

a {
   color: white;
   display: inline-block;
   text-decoration: none;
   padding: 10px;
   background-color: #3C7A89;
   border-radius: 5px;
}

a:hover {
   background-color: #2E4756;
}

.chattbubbla {
   border: 2px solid #2E4756;
   width: 500px;
   height: 500px;
   border-radius: 5px;
   left: 5px;
}

#skickaknapp {
   margin-top: 465px;
   float: right;
   color: white;
   display: inline-block;
   text-decoration: none;
   padding: 10px;
   background-color: #16262E;
   border-radius: 5px;
   width: 48px;
   text-align: center;
   margin-top: 463px;
}

.chattbubbla input {
   background: #B8ced4;
   margin-top: 463px;
   width: 430px;
   height: 35px;
   border-radius: 5px;
   margin-left: 1px;
  
}

.SpeechBubbleL {
   position: absolute;
	background: #00aabb;
   border-radius: .4em;
   width: 300px;
   height: 150px;
   left: 10px;
   top: 70px;
}

.SpeechBubbleL:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0px;
	height: 0px;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.SpeechBubbleR {
   position: absolute;
	background: #00aabb;
   border-radius: .4em;
   width: 300px;
   height: 150px;
   right: 925px;
   top: 310px;
}

.SpeechBubbleR:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 50%;
	width: 0px;
	height: 0px;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: 30px;
	margin-bottom: -20px;
}



p {
   font-family: 'Avenir', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   position: absolute;
   top: 20px;
   left: 20px;
   font-size: 14px;
   
}
