* {
   padding: 0px;
   margin: 0px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 12px;
}

 h2{
    font-size: 18px;
 }

 #container {
    margin: 0 auto;
 }

 #sumBtn {
    float: none;
 }

table {
 	border: 2px solid black;
	border-collapse: collapse;
    border-spacing: 0;
    animation: bigToNormal 3s;
    float: left;
}

@keyframes bigToNormal{
   from{
      transform: scale(3);
   }

   to {
      transform: scale(1);
   }
}

input {
   border: none;
   height: 19px;
}

td {
   border: 2px solid black;
}

.dices-container {
   border: 2px solid black;
   width: 700x;
   height: 500px;
   border-radius: 5px;
   float: right;
}

.dice {
   border: 2px solid black;
   width: 100px;
   height: 100px;
   border-radius: 5px;
   float: left;
}

.dark-grey {
 	background-color: #454545;
}
.grey {
 	background-color: #7d7d7d;
}
.light-grey {
 	background-color: #b8b8b8;
}

::placeholder {
   color: black;
}

a {
   color: white;
   display: inline-block;
   text-decoration: none;
   padding: 10px;
   background-color: #3C7A89;
   border-radius: 5px;
}

a:hover {
   background-color: #2E4756;
}

.chattbubbla {
   border: 2px solid #2E4756;
   width: 500px;
   height: 500px;
   
}

#skickaknapp {
   margin-top: 465px;
   float:right;
   color: white;
   display: inline-block;
   text-decoration: none;
   padding: 10px;
   background-color: #16262E;
   border-radius: 5px;
}
#skickaknapp:hover{
   background-color: #00aabb;
}

.chattbubbla input {
   background: #B8ced4;
   margin-top: 463px;
   width: 84%;
   height: 35px;
   border-radius: 5px;
   margin-left: 5px;
}

.SpeechBubbleL {
   position: absolute;
	background: #00aabb;
   border-radius: .4em;
   width: 300px;
   height: 200px;
   left: 10px;
   top: 60px;
   animation: smallToBig 3s;
}

@keyframes smallToBig {
   from {
      transform: scale(0);
   /*width: 100px;
   height: 50px;*/
   }

   to {
      transform: scale(1);
   /*width: 300px;
   height: 200px;*/
   }
}

.SpeechBubbleL:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0px;
	height: 0px;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.SpeechBubbleR {
   position: absolute;
	background: #0cbb06;
   border-radius: .4em;
   width: 300px;
   height: 200px;
   left: 190px;
   top: 290px;
   animation: smallToBig 3s;
}

.SpeechBubbleR:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0px;
	height: 0px;
	border: 20px solid transparent;
	border-top-color: #0cbb06;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}


/*
position: relative;
    background: #00aabb;
    border-radius: .4em;
}
.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}


*/